WORKING WITH DICTIONARIES

In [3]:
dict_a = {'name':'Jack', 'age': 26}
#print(dict_a)
print(dict_a['age'])

26

In [4]:
#use .get to get a specific item from a key
print(dict_a.get('age'))

26

In [5]:
# update value in dict
dict_a['age'] = 27

In [6]:
dict_a

{'name': 'Jack', 'age': 27}

In [7]:
dict_a['name']='Bryan'

In [8]:
dict_a

{'name': 'Bryan', 'age': 27}

In [9]:
# add item to dictionary
dict_a['address'] = 'Downtown'
dict_a

{'name': 'Bryan', 'age': 27, 'address': 'Downtown'}

In [15]:
dict_a['state']=''
dict_a

{'name': 'Bryan', 'age': 27, 'address': 'Downtown', 'state': ''}

In [20]:
#delete an item from a dict based on key
del dict_a['address']

In [21]:
del dict_a['state']

In [22]:
dict_a

{'name': 'Bryan', 'age': 27}

In [23]:
w={"APAN5100":"Frameworks I","APAN5400":"Storytelling with Data","APAN4500":"Research Design"}
#get all dict items
w.items()

dict_items([('APAN5100', 'Frameworks I'), ('APAN5400', 'Storytelling with Data'), ('APAN4500', 'Research Design')])

In [24]:
#get the dictionary keys
w.keys()

dict_keys(['APAN5100', 'APAN5400', 'APAN4500'])

In [25]:
#get the dict values
w.values()

dict_values(['Frameworks I', 'Storytelling with Data', 'Research Design'])

DICTIONARIES FROM LISTS

In [10]:
#Dictionaries from Lists
dishes = ["pizza", "sauerkraut", "paella", "Hamburger"]
countries = ["Italy", "Germany", "Spain", "USA"]

In [11]:
national_dishes = zip(countries, dishes) #Stored as a zipped object

In [13]:
print(national_dishes)

<zip object at 0x000001E617545FC8>

In [30]:
national_dishes=list(national_dishes) #storing this as a list

In [36]:
national_dishes

[('Italy', 'pizza'),
 ('Germany', 'sauerkraut'),
 ('Spain', 'paella'),
 ('USA', 'Hamburger')]

In [39]:
#turn zip object to dict
national_dishes_dict=dict(national_dishes) #storing this as a dict

In [40]:
national_dishes_dict

{'Italy': 'pizza',
 'Germany': 'sauerkraut',
 'Spain': 'paella',
 'USA': 'Hamburger'}

DICTIONARY COMPREHENSIONS

In [41]:
#create a dictionary using iterations in Python
dict_3 = {x: x for x in range(7)}

In [42]:
dict_3

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6}

In [43]:
dict_squares={x: x*x for x in range(7)}
dict_squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [45]:
#the above code is similar to this:
dict_squares = {}
for x in range(7):
    dict_squares[x] = x*x
print(dict_squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [51]:
#get the odd squares only- you can add if statemenets within your for loop
dict_odd_squares = {x: x*x for x in range(7) if x%2 == 1}

# Output: {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
print(dict_odd_squares)

{1: 1, 3: 9, 5: 25}

In [48]:
#similar code to this:
dict_odd_squares={} #initialize your dictionary
for x in range(7):
    if x%2==1:
        dict_odd_squares[x]=x*x
print(dict_odd_squares)

{1: 1, 3: 9, 5: 25}

In [55]:
#get the length of dict_squares
print(dict_squares)
print(len(dict_squares))

#sort the list of dict keys
print(sorted(dict_squares))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
[0, 1, 2, 3, 4, 5, 6]

WORKING WITH STRINGS

In [58]:
print("Hello")

Hello

In [59]:
#assign a string to a variable
a="Hello"
a

'Hello'

In [57]:
#Multiline strings - use triple or three single quotes to maintain the line break
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [60]:
#indexing for a string
a[2]

'l'

In [61]:
#slicing a string
b = "Hello, World!"
print(b[2:5])

llo

In [62]:
#reverse (negative) slicing
#Get the characters from position 5 to position 1, starting the count from the end of the string
b = "Hello, World!"
print(b[-5:-2])

orl

In [63]:
#get length of string
len(b)

13

In [64]:
#strip() method removes any whitespace from the beginning or the end
b = " Hello, World! "
print(b.strip())

Hello, World!

In [41]:
#lower() method returns the string in lower case
b.lower()

' hello, world! '

In [42]:
#upper() method returns the string in upper case
b.upper()

' HELLO, WORLD! '

In [43]:
#replace() method replaces a string with another string
b.replace('!', ".")

' Hello, World. '

In [65]:
c='Happy Near Year'
c.replace('Happy','Awesome')

'Awesome Near Year'

In [44]:
#split() method splits the string into substrings if it finds instances of the separator
b.split(",") #turns into a list

[' Hello', ' World! ']

In [66]:
b='Hello World'
b.split(" ")

['Hello', 'World']

In [67]:
#string concatenation
a = "Hello"
b = "World!"
c = a + b
print(c) #no whitespace

HelloWorld!

In [48]:
c = a + " " + b
print(c)

Hello World!

In [51]:
#combining strings with numbers

#this method doesn't work
num = 3
txt = "My cousin is" + num + "years old."
print(txt)

TypeError: can only concatenate str (not "int") to str

In [15]:
#use format() instead
num = 3
txt = "My cousin is {} years old."
print(txt.format(num))

My cousin is 3 years old.

In [16]:
#for multiple items
age = 3
age_2 = 12
age_3 = 15
family = "My brother is {}, my sister is {}, and my cousin is {} years old."
print(family.format(age, age_2, age_3))

My brother is 3, my sister is 12, and my cousin is 15 years old.

In [56]:
c="hi, my name is ergeta."
c.capitalize()

'Hi, my name is ergeta.'

In [61]:
#check all characters in the string are in the alphabet
c.isalpha()

False

In [71]:
c='hi'
c.isalpha()

True

In [72]:
#check all characters are numeric
c='my cousin is 3 years old'
c.isnumeric()

False

In [73]:
c='3455'
c.isnumeric()

True

In [70]:
#string multiplication
s='hello'
s * 4

'hellohellohellohello'

In [71]:
#reversing a string
s[::-1]

'olleh'

In [72]:
#modifying a string
s = s[:5] + ' ' + 'there!'
s

'hello there!'

In [73]:
#turn string to title style format
s.title()

'Hello There!'

In [75]:
#count nr of character occurences
s.count('o')

1

In [76]:
#count nr of character occurences btwn specific range of chars
s.count('e',0,5)

1