In [ ]:
import pandas as pd
import numpy as np

DATA STRUCTURES

WORKING WITH LISTS

In [25]:
#working with python lists
a=[] #empty list
b=[1,2,3] #numeric list
c=['banana','apple','strawberry','mango'] #string list 
d=['banana', 1, 'apple', 3]

In [22]:
b=[1,2,3] #numeric list
print(b)

[1, 2, 3]

In [24]:
type(b)

list

In [ ]:
#inspect the type of object created
type(a)
type(b)
type(c)
type(d)

In [ ]:
#print the lists
print(a)
print(b)
print(c)
print(d)

LIST MANIPULATIONS

In [27]:
#List indexing
print(c)
print(c[0])

['banana', 'apple', 'strawberry', 'mango']
banana

In [37]:
c[0::2]

['banana', 'strawberry']

In [39]:
c[-2]

'strawberry'

In [40]:
#Merge two lists together
merged=[b,c]

In [41]:
merged

[[1, 2, 3], ['banana', 'apple', 'strawberry', 'mango']]

In [44]:
merged[0]

[1, 2, 3]

In [45]:
#get first item of the first item within merged list
merged[0][0]

1

In [46]:
#get third item of the second item within merged list
merged[1][2]

'strawberry'

In [48]:
#get first character "s" of the "strawberry" item in merged list
merged[1][2][0]

's'

In [49]:
merged[1][2][5]

'b'

In [50]:
merged[1][2][5:10]

'berry'

In [52]:
#BONUS
#flatten out the new merged list
from functools import reduce
import operator
merged_flat=reduce(operator.concat, merged)

In [53]:
merged_flat

[1, 2, 3, 'banana', 'apple', 'strawberry', 'mango']

LIST FUNCTIONS

In [51]:
#find length of list
print(len(c))
print(len(merged))

#find min value of list
print(min(b))
print(min(c))

#find max value of list
print(max(b))
print(min(c))

#list concatenation
list_1=[1,3,5,6,6]
list_2=[3,5,5,6,6]

list_3=list_1+list_2
print(list_3) #concats together both lists

4
2
1
apple
3
apple
[1, 3, 5, 6, 6, 3, 5, 5, 6, 6]

In [56]:
#see if item belongs in list
1 in list_3

'apple' in list_3

False

In [57]:
#turn string to list
hello_list=list("hello")
print(hello_list) #creates list with each character as a list item

['h', 'e', 'l', 'l', 'o']

In [60]:
b

[1, 2, 3]

In [74]:
#adding an element/item to a list
list_b=b
list_b.append(b)
list_b

[1, 2, 4, 4, 'apple', [...]]

In [66]:
b

[1, 2, 3, 4, 4, 4, 4, 4]

In [68]:
#find the index of a specific list item
b.index(3)

2

In [71]:
#remove a list item
b.remove(4)
print(b)

[1, 2, 3, 4, 4]

In [72]:
#you can also remove by indexing the item and using del
del b[2] #removes the third item in the list
print(b)

[1, 2, 4, 4]

In [75]:
#reversing a list
b.reverse()
print(b)

[[...], 'apple', 4, 4, 2, 1]

In [77]:
#sort a list in ascending order
list_c=[1,3,5,6,5]
list_c.sort()
print(list_c)

#sort in descending order
list_c.sort(reverse=True)
print(list_c)

[1, 3, 5, 5, 6]
[6, 5, 5, 3, 1]

DICTIONARIES

In [78]:
dict_1={} #empty dictionary
print(type(dict_1))

books={"book_title": "Fleurs du Mal", 
       "book_author": "Charles Baudelaire"}
print(books)

<class 'dict'>
{'book_title': 'Fleurs du Mal', 'book_author': 'Charles Baudelaire'}

In [80]:
#Accessing keys
books['book_title']

'Fleurs du Mal'

In [81]:
books['book_author']

'Charles Baudelaire'

In [7]:
#you call items in dict by key. so the list 
#approach doesn't work here.
books[0]

KeyError: 0

In [9]:
#copy a dictionary
b=books.copy()
print(b)
type(b)

{'book_title': 'Fleurs du Mal', 'book_author': 'Charles Baudelaire'}

dict

In [10]:
#remove content from dict
b.clear()
print(b)

{}

In [11]:
#merge two dicts
dict_2={"published_year":1857, 
        "publish_city":"Paris"}

books.update(dict_2)
print(books)

{'book_title': 'Fleurs du Mal', 'book_author': 'Charles Baudelaire', 'published_year': 1857, 'publish_city': 'Paris'}

In [13]:
#iterate over a dict

#to print keys
for key in books:
    print(key)

book_title
book_author
published_year
publish_city

In [20]:
#to print values for each key
for key in books:
    print(key,":",books[key])

book_title : Fleurs du Mal
book_author : Charles Baudelaire
published_year : 1857
publish_city : Paris