### Pandas Series

In [1]:
import pandas as pd

In [ ]:
#generate an empty series
s = pd.Series()
print(s)

In [ ]:
#create a series using dictionary
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
print(s) #dictionary keys are used to construct the index

In [ ]:
#create a series with indexing
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data,index=['b','c','d','a'])
print(s)

In [ ]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
s

In [ ]:
print(s[0])
print(s[:3])
print(s['a'])
print(s['f'])

### Pandas Dataframes

In [ ]:
#create df from list of lists
data = [['Alex',10],['Bob',12],['Clark',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
df

In [ ]:
#change data type to float 
data = [['Alex',10],['Bob',12],['Clark',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
df

In [2]:
#create dataframe from dictionary with series inside
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [ ]:
print(df['one'])

In [ ]:
#adding two columns
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df['three']=pd.Series([10,20,30],index=['a','b','c'])

df['four']=df['one']+df['three']
print(df)

In [ ]:
#delete a column
del df['four']
df.pop('two')
df

In [ ]:
from pydataset import data

titanic = data('titanic')

In [ ]:
titanic.head()

In [ ]:
# Print out first 4 observations
print(titanic[0:4])

In [ ]:
# Print out fifth, and sixth observation
print(titanic[4:6])

In [ ]:
#print out details of observation 3
print(titanic.iloc[2])

In [ ]:
#append rows
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
df

In [ ]:
## Drop rows with label 0
df = df.drop(0)
df

In [ ]:
#transpose a dataframe
print(df.T)

In [ ]:
#get the datatypes of the variables from the df
df.dtypes

In [ ]:
#determine if a dataframe is empty
df.empty

In [ ]:
#return nr of dimensions of df
df.ndim

In [ ]:
#get the array version of the df
df.values

### Basic Statistics Using Pandas

In [3]:
#get the average of values for each column
df.mean()

one    2.0
two    2.5
dtype: float64

In [4]:
#get standard deviation
df.std()

one    1.000000
two    1.290994
dtype: float64

In [5]:
#summarize the data
df.describe()

       one       two
count  3.0  4.000000
mean   2.0  2.500000
std    1.0  1.290994
min    1.0  1.000000
25%    1.5  1.750000
50%    2.0  2.500000
75%    2.5  3.250000
max    3.0  4.000000