DATA STRUCTURES

WORKING WITH LISTS

In [3]:
#working with python lists
#a=[] #empty list
b=[1,2,3] #numeric list
c=['banana','apple','strawberry','mango'] #string list 
d=['banana', 1, 'apple', 3]

In [4]:
b=[1,2,3] #numeric list
print(b)

[1, 2, 3]

In [5]:
type(b)

list

In [6]:
#inspect the type of object created
type(a)
type(b)
type(c)
type(d)

list

In [7]:
#print the lists
print(a)
print(b)
print(c)
print(d)

[]
[1, 2, 3]
['banana', 'apple', 'strawberry', 'mango']
['banana', 1, 'apple', 3]

LIST MANIPULATIONS

In [8]:
#List indexing
print(c)
print(c[0])

['banana', 'apple', 'strawberry', 'mango']
banana

In [10]:
c[-1]

'mango'

In [12]:
#Merge two lists together
merged=[b,c]

In [14]:
print(merged)
print(b)
print(c)

[[1, 2, 3], ['banana', 'apple', 'strawberry', 'mango']]
[1, 2, 3]
['banana', 'apple', 'strawberry', 'mango']

In [15]:
merged[0]

[1, 2, 3]

In [16]:
#get first item of the first item within merged list
merged[0][0]

1

In [17]:
#get third item of the second item within merged list
merged[1][2]

'strawberry'

In [18]:
#get first character "s" of the "strawberry" item in merged list
merged[1][2][0]

's'

In [19]:
merged[1][2][5]

'b'

In [21]:
merged[1][2][5:10]

'berry'

In [52]:
#BONUS
#flatten out the new merged list
from functools import reduce
import operator
merged_flat=reduce(operator.concat, merged)

In [53]:
merged_flat

[1, 2, 3, 'banana', 'apple', 'strawberry', 'mango']

LIST FUNCTIONS

In [26]:
#find length of list
print(c)
print(len(c))
print(merged)
print(len(merged))

#find min value of list
print(b)
print(min(b))
print(min(c))

#find max value of list
#print(max(b))
#print(min(c))

#list concatenation
list_1=[1,3,5,6,6]
list_2=[3,5,5,6,6]

list_3=list_1+list_2
print(list_3) #concats together both lists

['banana', 'apple', 'strawberry', 'mango']
4
[[1, 2, 3], ['banana', 'apple', 'strawberry', 'mango']]
2
[1, 2, 3]
1
apple
[1, 3, 5, 6, 6, 3, 5, 5, 6, 6]

In [28]:
#see if item belongs in list
#1 in list_3

'apple' in list_3

False

In [57]:
#turn string to list
hello_list=list("hello")
print(hello_list) #creates list with each character as a list item

['h', 'e', 'l', 'l', 'o']

In [29]:
b

[1, 2, 3]

In [30]:
#adding an element/item to a list
list_b=b
list_b.append(b)
list_b

[1, 2, 3, [...]]

In [31]:
b

[1, 2, 3, [...]]

In [68]:
#find the index of a specific list item
b.index(3)

2

In [34]:
#remove a list item
b=[1,3,4,6,6]
b.remove(6)
print(b)

[1, 3, 4, 6]

In [35]:
#you can also remove by indexing the item and using del
del b[2] #removes the third item in the list
print(b)

[1, 3, 6]

In [36]:
#reversing a list
b.reverse()
print(b)

[6, 3, 1]

In [40]:
#sort a list in ascending order
list_c=[1,3,5,6,5]
print(list_c)
list_c.sort()
print(list_c)

#sort in descending order
list_c.sort(reverse=True)
print(list_c)

[1, 3, 5, 6, 5]
[1, 3, 5, 5, 6]
[6, 5, 5, 3, 1]

DICTIONARIES

In [43]:
dict_1={} #empty dictionary
print(type(dict_1))

books={"book_title": "Fleurs du Mal", 
       "book_author": "Charles Baudelaire"}
print(books)

<class 'dict'>
{'book_title': 'Fleurs du Mal', 'book_author': 'Charles Baudelaire'}

In [45]:
#Accessing keys
books['book_title']

'Fleurs du Mal'

In [46]:
books['book_author']

'Charles Baudelaire'

In [44]:
#you call items in dict by key. so the list 
#approach doesn't work here.
books[0]

KeyError: 0

In [47]:
#copy a dictionary
b=books.copy()
print(b)
type(b)

{'book_title': 'Fleurs du Mal', 'book_author': 'Charles Baudelaire'}

dict

In [48]:
#remove content from dict
b.clear()
print(b)

{}

In [49]:
#merge two dicts
dict_2={"published_year":1857, 
        "publish_city":"Paris"}

books.update(dict_2)
print(books)

{'book_title': 'Fleurs du Mal', 'book_author': 'Charles Baudelaire', 'published_year': 1857, 'publish_city': 'Paris'}

In [13]:
#iterate over a dict

#to print keys
for key in books:
    print(key)

book_title
book_author
published_year
publish_city

In [20]:
#to print values for each key
for key in books:
    print(key,":",books[key])
    
    #output:
    book_title -> book['book_title'] (Fleur du Mal)
    book_author -> book['book_author'] (Cb)
    ---
    ---

book_title : Fleurs du Mal
book_author : Charles Baudelaire
published_year : 1857
publish_city : Paris